img {
    border-radius: 50px;
    float: inline-start;
    margin-right: 20px;
    object-fit: cover;
}
h2:hover{
    box-shadow: 0px 0px 15px wheat;
}
h1:hover {
    box-shadow: 0px 0px 15px wheat;
}

h1 {
    font-weight: lighter;
    color: black;
    align-content: center;
    align-self: center;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: wavy;
}

h2 {
    font-weight: lighter;
    color: black;
    align-content: center;
    align-self: center;
    margin-right: 20px;
    text-decoration: wavy;
    font-family: 'Courier New', Courier, monospace;
}

p{

    color: purple;
}
.button {
    color: rgb(17, 12, 19);
    margin-right: 20px;
}
.button:hover{

    background-color: cadetblue;
}

.button:active{
    background-color: whitesmoke;

}

body {

    
    background-image: url(background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    
}